.close {
    margin: 0 !important;
    border: 0px;
    background-color: transparent;
}

.modal-title {
    align-content: left;
    flex: 1;
}

.modal-header {
    display: inline-flex;
    width: 100%;
}