/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

/* You can add global styles to this file, and also import other style files */
h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 10%;
}

table {
    width: 80% !important;
    margin-left: 10% !important;
}

.form-group {
    margin-bottom: 1rem !important;
    width: 35% !important;
    margin-left: 10% !important;
}
