.navbar {
  background-color: #f8f8f8;
  height: 4rem;
}

.navbar-brand {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 20px;
  text-transform: uppercase;
  border-radius: 10px;
}

.navbar-brand:hover {
  background-color: #b3b3b3;
}