.navbar {
    padding-left: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #f8f8f8 !important;
}

.nav-link {
    color: black !important;
    padding: 20px 20px;
    border-radius: 10px;
}

.nav-link1 {
    color: black !important;
}

.nav-link:hover {
    background-color: #b3b3b3 !important;
}